<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'listing Service', services_path %>||
<%= link_to 'Create New Service', new_service_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<%= semantic_form_for(@service) do |f| %>
  <%= f.inputs "New Service" do %>
  <%= f.input :branch, :include_blank => false %>
  <%= f.input :company %>
  <%= f.input :address %>
  <%= f.input :contact_person %>
  <%= f.input :contact_number, :label => "Any Contact Number" %> 
  <%= f.input :e_mail, :label => "Email Address" %>
  <%= f.input :complain, :input_html => { :rows => 4 } %>
  <%= f.input :status, :collection => Service.status_collection, :include_blank => false, :wrapper_html => { :style => "display:none;" } %>
  <%= f.input :prepared_by,  :collection => [["- Auto Generated -","  ",current_user.email]], :wrapper_html => { :style => "display:none;" }, :include_blank => false %>
  <% end %>

 <%= f.buttons %>
<% end %>
</div>

 
